## Aula 05 - Estruturas de Dados Básicas

 - Strings e suas operações
 - Listas e tuplas
 - Dicionários
 - Conjuntos

____________________________________

### Strings e suas operações

Uma string é uma sequência de caracteres, e em Python, elas são imutáveis, o que significa que não podem ser alteradas após a criação. No entanto, é possível realizar várias operações com strings, como concatenação, fatiamento, busca, substituição, entre outras.

#### Concatenação

A concatenação de strings é feita com o operador `+`. Por exemplo, para concatenar as strings "Olá" e "Mundo", basta fazer:

```python
s1 = "Introdução à "
s2 = "Python"
s3 = s1 + s2
print(s3)
```

In [5]:
texto1 = '1'
texto2 = '1'
frase = texto1 + texto2

frase

'11'

#### Fatiamento

O fatiamento de strings é feito com o operador `[]`. Por exemplo, para pegar o primeiro caractere de uma string, basta fazer:

```python
s = "Codigos do Bem"
print(s[0])
print(s[1:4])
print(s[4:])
print(s[:])
```

In [16]:
frase = "introducao a python"

primeira_palavra = frase[:11]

print(primeira_palavra)

introducao


#### Busca

Para buscar um caractere ou uma substring em uma string, podemos utilizar o operador `in`. Por exemplo, para verificar se a string "Olá" está contida na string "Olá Mundo", basta fazer:

```python
s = "Vamos aprender Python, IA, e ML"
print("Python" in s)
print("ML" not in s)
```

In [26]:
frase_busca = "Vamos aprender Python, IA, e ML".lower()

print("vamos"  in frase_busca)

True


#### Substituição

Para substituir uma substring por outra em uma string, podemos utilizar o método `replace()`. Por exemplo, para substituir a substring "Olá" por "Oi" na string "Olá Mundo", basta fazer:

```python
s = "Olá Mundo"
s = s.replace("Olá", "Oi")
print(s)
```

In [32]:
s = "nome;idade;telefone"
print(s.replace(';', ' '))

nome idade telefone


#### Outras operações

Existem vários outros métodos e operações que podem ser realizados com strings em Python. Alguns deles são:


- `len(s)`: Retorna o tamanho da string `s`.

```python
s = "Olá Mundo"
print(len(s))
```

In [34]:
nome = 'Rogério Machado Gravina'
len(nome.replace(' ', ''))

21


- `s.lower()`: Retorna uma cópia da string `s` com todos os caracteres em minúsculo.

```python
s = "minusculas"
print(s.lower())
```

In [38]:
s = "Meu Nome é RoGério GRaVINA"


print('rogério gravina' in s.lower())

True


- `s.upper()`: Retorna uma cópia da string `s` com todos os caracteres em maiúsculo.

```python
s = "caixa alta"
print(s.upper())
```

In [40]:
s = "Meu Nome é RoGério GRaVINA"


print('ROGÉRIO GRAVINA' in s.upper())

True


- `s.strip()`: Retorna uma cópia da string `s` sem os espaços em branco no início e no final.

```python
s = " Palavra centralizada "
print(s.strip())
```

In [42]:
name = ' rogerio gravina '
print(name.strip())

rogerio gravina


- `s.split(sep)`: Retorna uma lista de substrings da string `s` separadas pelo caractere `sep`.

```python
s = "nome;idade;telefone;endereço;email"
print(s.split(";"))
```

In [45]:
cabecalho = "rogerio machado gravina"

print(cabecalho.split(' '))

['rogerio', 'machado', 'gravina']

____________________

### Listas e Tuplas

Listas e tuplas são coleções ordenadas de elementos em Python, mas as listas são mutáveis, enquanto as tuplas são imutáveis. Elementos em uma lista podem ser alterados, adicionados ou removidos, enquanto os elementos de uma tupla não podem ser alterados após a criação.

#### Listas

Para criar uma lista em Python, basta colocar os elementos entre colchetes `[]`. Por exemplo, para criar uma lista com os números de 1 a 5, basta fazer:

```python
lista = [1, 2, 3, 4, 5]
print(lista)
```

#### Tuplas

Para criar uma tupla em Python, basta colocar os elementos entre parênteses `()`. Por exemplo, para criar uma tupla com os números de 1 a 5, basta fazer:

```python
tupla = (1, 2, 3, 4, 5)
print(tupla)
```

_______________________

#### Operações com listas

Assim como as strings, as listas também possuem vários métodos e operações que podem ser realizados. Alguns deles são:

 - `len(lista)`: Retorna o tamanho da lista `lista`.

```python
lista = [1, 2, 3, 4, 5]
print(len(lista))
```

In [48]:
lista1 = [1, 'python', 'curso']

 - `lista.append(elemento)`: Adiciona o elemento `elemento` ao final da lista `lista`.

```python
lista = [1, 2, 3, 4, 5]
lista.append(6)
print(lista)
```

In [55]:
lista1
lista1.append([1,2])

In [56]:
lista1

[1, 'python', 'curso', 'quelipe', 'quelipe', 0, [1, 2]]


 - `lista.insert(i, elemento)`: Adiciona o elemento `elemento` na posição `i` da lista `lista`.

```python
lista = [1, 2, 3, 4, 5]
lista.insert(2, 6)
print(lista)
```

In [57]:
lista_numeros = [1, 2, 3, 5, 6]

In [70]:
lista_numeros.insert(4, 4)
lista_numeros

[0, 1, 2, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 6]


 - `lista.pop(i)`: Remove o elemento na posição `i` da lista `lista`.

```python
lista = [1, 2, 3, 4, 5]
lista.pop(2)
print(lista)
```

```python
lista = [1, 2, 3, 4, 5]
lista.pop()
print(lista)
```

In [77]:
nova_lista = [10, 20, 30]

In [82]:
nova_lista.pop()

30

In [83]:
nova_lista

[10]


 - `lista.remove(elemento)`: Remove a primeira ocorrência do elemento `elemento` da lista `lista`.

```python
lista = [1, 2, 3, 4, 5]
lista.remove(3)
print(lista)
```

In [88]:
lista_numeros = [1,2,3,4,5,6,7,8,3]
lista_numeros

[1, 2, 3, 4, 5, 6, 7, 8, 3]

In [91]:
lista_numeros.remove(3)

In [92]:
lista_numeros

[1, 2, 4, 5, 6, 7, 8]

- `lista.index(elemento)`: Retorna a posição da primeira ocorrência do elemento `elemento` na lista `lista`.

```python
lista = ['Python', 'Java', 'C', 'Python', 'JavaScript']
print(lista.index('Python'))
```

In [93]:
lista = ['Python', 'Java', 'C', 'Python', 'JavaScript']
lista

['Python', 'Java', 'C', 'Python', 'JavaScript']

In [95]:
print(lista.index('C'))

2


 - `lista.count(elemento)`: Retorna o número de ocorrências do elemento `elemento` na lista `lista`.

```python
lista = ['Python', 'Java', 'C', 'Python', 'JavaScript']
print(lista.count('Python'))
```

In [99]:
lista.count("JavaScript")

1

- `lista.sort()`: Ordena a lista `lista`.

```python
lista = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
lista.sort()
print(lista)
```

In [127]:
lista_numeros = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
lista_palavras = ['Curso', 'Vida', 'Amor', 'Python']

In [128]:

lista_palavras.sort()
print(lista_palavras)

['Amor', 'Curso', 'Python', 'Vida']


 - `lista.reverse()`: Inverte a ordem dos elementos da lista `lista`.

```python
lista = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
lista.reverse()
print(lista)
```

In [129]:
lista_numeros

[3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

In [113]:
lista_numeros.sort()
lista_numeros

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

In [134]:
lista_numeros.sort(reverse=True)
lista_numeros

[9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]


 - `lista.clear()`: Remove todos os elementos da lista `lista`.

```python
lista = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
lista.clear()
print(lista)
```

In [135]:
lista_numeros

[9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]

In [136]:
lista_numeros.clear()

In [137]:
lista_numeros

[]

________________

#### Operações com tuplas

As tuplas são imutáveis, então não é possível adicionar, remover ou alterar elementos de uma tupla. No entanto, é possível realizar algumas operações com tuplas, como:

 - `len(tupla)`: Retorna o tamanho da tupla `tupla`.

```python
tupla = (1, 2, 3, 4, 5)
print(len(tupla))
```

 - `tupla.index(elemento)`: Retorna a posição da primeira ocorrência do elemento `elemento` na tupla `tupla`.

```python
tupla = ('Python', 'Java', 'C', 'Python', 'JavaScript')
print(tupla.index('Python'))
```

 - `tupla.count(elemento)`: Retorna o número de ocorrências do elemento `elemento` na tupla `tupla`.

```python
tupla = ('Python', 'Java', 'C', 'Python', 'JavaScript')
print(tupla.count('Python'))
```

__________________

### Dicionários

Dicionários são coleções de pares chave-valor, onde cada chave única mapeia para um valor. Eles são mutáveis e podem conter diversos tipos de dados.

Para criar um dicionário em Python, basta colocar os pares chave-valor entre chaves `{}`. Por exemplo, para criar um dicionário com as idades de algumas pessoas, basta fazer:

```python
dicionario = {'Alice': 25, 'Bob': 30, 'Charlie': 35}
print(dicionario)
```

In [138]:
usuario1 = {'nome': 'Alice',
            'idade': 35,
            'altura': 1.62}

In [139]:
usuario1

{'nome': 'Alice', 'idade': 35, 'altura': 1.62}

#### Operações com dicionários

Assim como as strings e as listas, os dicionários também possuem vários métodos e operações que podem ser realizados. Alguns deles são:

 - `len(dicionario)`: Retorna o número de pares chave-valor no dicionário `dicionario`.

```python
dicionario = {'Alice': 25, 'Bob': 30, 'Charlie': 35}
print(len(dicionario))
```

In [140]:
len(usuario1)

3


 - `dicionario['chave']`: Retorna o valor associado à chave `chave` no dicionário `dicionario`.

```python
dicionario = {'Alice': 25, 'Bob': 30, 'Charlie': 35}
print(dicionario['Bob'])
```

In [143]:
usuario1['idade']

35


 - `dicionario['chave'] = valor`: Adiciona ou atualiza o valor associado à chave `chave` no dicionário `dicionario`.

```python
dicionario = {'Alice': 25, 'Bob': 30, 'Charlie': 35}
dicionario['Alice'] = 26
dicionario['David'] = 40
print(dicionario)
```

In [147]:
usuario1

{'nome': 'Alice', 'idade': 35, 'altura': 1.62, 'peso': 50.1}

- `del dicionario['chave']`: Remove o par chave-valor associado à chave `chave` do dicionário `dicionario`.

```python
dicionario = {'Alice': 25, 'Bob': 30, 'Charlie': 35}
del dicionario['Bob']
print(dicionario)
```

In [149]:
del usuario1['nome']

{'nome': 'Alice', 'idade': 35, 'altura': 1.62}


 - `dicionario.keys()`: Retorna uma lista com as chaves do dicionário `dicionario`.

```python
dicionario = {'Alice': 25, 'Bob': 30, 'Charlie': 35}
print(dicionario.keys())
```

In [150]:
usuario1.keys()

dict_keys(['nome', 'idade', 'altura'])


 - `dicionario.values()`: Retorna uma lista com os valores do dicionário `dicionario`.

```python
dicionario = {'Alice': 25, 'Bob': 30, 'Charlie': 35}
print(dicionario.values())
```

In [151]:
usuario1.values()

dict_values(['Alice', 35, 1.62])

- `dicionario.items()`: Retorna uma lista de tuplas com os pares chave-valor do dicionário `dicionario`.

```python
dicionario = {'Alice': 25, 'Bob': 30, 'Charlie': 35}
print(dicionario.items())
```

In [152]:
usuario1.items()

dict_items([('nome', 'Alice'), ('idade', 35), ('altura', 1.62)])

In [171]:
usuario2 = {'nome': 'rogerio',
            'idade': '29'}

dicionario_de_dicionarios = {'usuario': ''}

In [177]:
dicionario_de_dicionarios['usuario2'] = usuario1

In [178]:
dicionario_de_dicionarios

{'usuario': {'nome': 'rogerio', 'idade': '29'},
 'usuario2': {'nome': 'Alice',
  'idade': 35,
  'altura': 1.62,
  'matriz': [1, 2, 3]}}


 - `dicionario.clear()`: Remove todos os pares chave-valor do dicionário `dicionario`.

```python
dicionario = {'Alice': 25, 'Bob': 30, 'Charlie': 35}
dicionario.clear()
print(dicionario)
```

In [179]:
dicionario_de_dicionarios.clear()

In [180]:
dicionario_de_dicionarios

{}

____________

### Conjuntos

Conjuntos em Python são coleções não ordenadas de elementos únicos. Eles são úteis para realizar operações como união, interseção e diferença entre conjuntos.

Para criar um conjunto em Python, basta colocar os elementos entre chaves `{}`. Por exemplo, para criar um conjunto com os números de 1 a 5, basta fazer:

```python
conjunto = {1, 2, 3, 4, 5}
print(conjunto)
```

In [184]:
lista_de_zeros = [0,0,0,0,0,0,0,0,0]
conjunto_zeros = {'rogerio', 'marcos', 'quelipe', 'rogerio'}

In [185]:
conjunto_zeros

{'marcos', 'quelipe', 'rogerio'}

#### Operações com conjuntos

Assim como as strings, as listas e os dicionários, os conjuntos também possuem vários métodos e operações que podem ser realizados. Alguns deles são:

 - `len(conjunto)`: Retorna o número de elementos no conjunto `conjunto`.

```python
conjunto = {1, 2, 3, 4, 5}
print(len(conjunto))
```


 - `elemento in conjunto`: Verifica se o elemento `elemento` pertence ao conjunto `conjunto`.

```python
conjunto = {1, 2, 3, 4, 5}
print(3 in conjunto)
```

In [187]:
print('rogerio' in conjunto_zeros)

True

- `conjunto.add(elemento)`: Adiciona o elemento `elemento` ao conjunto `conjunto`.

```python
conjunto = {1, 2, 3, 4, 5}
conjunto.add(6)
print(conjunto)
```

In [189]:
conjunto_zeros.add('python')

In [191]:
conjunto_zeros.add('python')

In [193]:
conjunto_ordem = {3,9,4,5,3,3,3}

In [214]:
conjunto_ordem.add()
conjunto_ordem

{1,
 1.5,
 1.75,
 '123',
 3,
 4,
 40,
 5,
 50,
 6,
 7,
 7.99999,
 '7890',
 8,
 9,
 'amor',
 'name',
 'zebra'}


 - `conjunto.remove(elemento)`: Remove o elemento `elemento` do conjunto `conjunto`.

```python
conjunto = {1, 2, 3, 4, 5}
conjunto.remove(3)
print(conjunto)
```

In [217]:
conjunto_ordem

{1,
 1.5,
 1.75,
 '123',
 3,
 4,
 40,
 5,
 50,
 6,
 7,
 7.99999,
 '7890',
 8,
 9,
 'amor',
 'name'}


 - `conjunto.union(outro_conjunto)`: Retorna a união dos conjuntos `conjunto` e `outro_conjunto`.

```python
conjunto1 = {1, 2, 3, 4, 5}
conjunto2 = {4, 5, 6, 7, 8}
print(conjunto1.union(conjunto2))
```

In [218]:
conjunto1 = {1,2,3,4,5}
conjunto2 = {3,4,5,6,7,8}
print(conjunto1.union(conjunto2))

{1, 2, 3, 4, 5, 6, 7, 8}


 - `conjunto.intersection(outro_conjunto)`: Retorna a interseção dos conjuntos `conjunto` e `outro_conjunto`.

```python
conjunto1 = {1, 2, 3, 4, 5}
conjunto2 = {4, 5, 6, 7, 8}
print(conjunto1.intersection(conjunto2))
```

In [219]:
print(conjunto1.intersection(conjunto2))

{3, 4, 5}


 - `conjunto.difference(outro_conjunto)`: Retorna a diferença dos conjuntos `conjunto` e `outro_conjunto`.

```python
conjunto1 = {1, 2, 3, 4, 5}
conjunto2 = {4, 5, 6, 7, 8}
print(conjunto1.difference(conjunto2))
```

In [221]:
print(conjunto2.difference(conjunto1))

{8, 6, 7}


 - `conjunto.clear()`: Remove todos os elementos do conjunto `conjunto`.

```python
conjunto = {1, 2, 3, 4, 5}
conjunto.clear()
print(conjunto)
```

_______________________

### Projeto Cadastro